.blocks {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
  gap: 2px 2px;
  grid-auto-flow: row;
}

.blocks div {
  cursor: pointer;
  border: 1px solid rgb(226, 226, 226);
}

.blocks span {
  display: table;
  margin: 0 auto;
}
